.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
.phpintel/
.env
.DS_Store
.phpunit*
http-client.env.json
http-client.private.env.json
requests.http
.helm/charts/*
.helm/Chart.lock
!.helm/charts/.gitkeep
.helm/values-production.yaml
